<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./birthday.css" type="text/css">
    <title>Sample-2</title>
</head>
<body>
    <div class="Hero2">
        <div class="container2" style="color: #fff;">
            <h1>𝕳𝖆𝖕𝖕𝖞 𝕭𝖎𝖗𝖙𝖍𝖉𝖆𝖞</h1>
                  <p>“𝗖𝗼𝘂𝗻𝘁 𝘆𝗼𝘂𝗿 𝗹𝗶𝗳𝗲 𝗯𝘆 𝘀𝗺𝗶𝗹𝗲𝘀, 𝗻𝗼𝘁 𝘁𝗲𝗮𝗿𝘀. 𝗖𝗼𝘂𝗻𝘁 𝘆𝗼𝘂𝗿 𝗮𝗴𝗲 𝗯𝘆 𝗳𝗿𝗶𝗲𝗻𝗱𝘀, 𝗻𝗼𝘁 𝘆𝗲𝗮𝗿𝘀. 𝗛𝗮𝗽𝗽𝘆 𝗯𝗶𝗿𝘁𝗵𝗱𝗮𝘆!”</p>
        </div>
    </div>
</body>
</html>