<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="hero">
            <div class="birthday-cover">
                <div class="div1">
                    <h1>𝕳𝖆𝖕𝖕𝖞 𝕭𝖎𝖗𝖙𝖍𝖉𝖆𝖞</h1>
                    <img src="./Resources/birthday.png" class="cakes">
                </div>
                <div class="div2">
                    <h5>𝓗𝓪𝓹𝓹𝔂 𝓽𝓱𝓸𝓾𝓰𝓱𝓽𝓼</h5>
                    <p>“𝗖𝗼𝘂𝗻𝘁 𝘆𝗼𝘂𝗿 𝗹𝗶𝗳𝗲 𝗯𝘆 𝘀𝗺𝗶𝗹𝗲𝘀, 𝗻𝗼𝘁 𝘁𝗲𝗮𝗿𝘀. 𝗖𝗼𝘂𝗻𝘁 𝘆𝗼𝘂𝗿 𝗮𝗴𝗲 𝗯𝘆 𝗳𝗿𝗶𝗲𝗻𝗱𝘀, 𝗻𝗼𝘁 𝘆𝗲𝗮𝗿𝘀. 𝗛𝗮𝗽𝗽𝘆 𝗯𝗶𝗿𝘁𝗵𝗱𝗮𝘆!”</p>
                    <h6>𝐻𝒶𝓅𝓅𝓎 𝓂𝒶𝓃𝓎 𝓇𝑒𝓉𝓊𝓇𝓃𝓈</h6>
                </div>
            </div>
            <div class="animate">
                <img src="./Resources/balloon.png" class="image" alt="img" style="margin-left: 120px; margin-top: -120px;">
        
                <img src="./Resources/animte-balloons.png" class="image" alt="img" id="image1">
                    
                <img src="./Resources/balloons.png" class="image" alt="img" id="image2">
                    
                <img src="./Resources/animate.png" class="image" alt="img" id="image3">
                
                <img src="./Resources/animte-balloons.png" class="image" alt="img" id="image4">
            </div>
        </div>
    </div>
</body>
</html>